<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="false" />
        <directoryBrowse enabled="true" />
        <httpRedirect enabled="false" destination="" childOnly="false" />
        <staticContent>
            <mimeMap fileExtension=".dat" mimeType="text/plain" />
            <mimeMap fileExtension=".ver" mimeType="text/plain" />
            <mimeMap fileExtension=".compressed" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
